.header-img__logo{
    width: 200px;
    display: block;
    height: 200px;
}
.header-title{
    font-size: 1.4em;
    color: rgba(95, 95, 95, 1);
}

.header-title>span{
    color: rgba(125, 125, 125, 1);
}