<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img  class="header-img__logo mx-auto" src="../../assets/images/logoAnalitycLab.png">
            </div>
            <div class="col-12 col-md-8">
                <p class="header-title">Analityc<span>Lab</span></p>
                <p class="header-title-text"><small> Te ayudamos a unificar y transformar tus datos en información valiosa para la toma de decisiones optimizando tiempo, dinero y esfuerzo</small></p>
                <p></p>
            </div>
        </div>
    </div>
</div>