<div class="bg-color footer">
    <div class="container">
        <div class="row ">
            <div class="col-4 my-2 mrl">
                <div class="row">
                    <div class="col-12">
                        <img class="header-img__logo mx-auto" src="../../assets/images/logoAnalitycLab.png">
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum explicabo facere minima
                            quam.
                            Totam, voluptatem!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3 my-2 mrl">
                <div class="row">
                    <div class="container mt-2">
                        <div class="col-12">
                            <h2>Contact us</h2>
                            <div class="container">
                                <mat-list dense>
                                    <mat-list-item> <b>facebook</b> </mat-list-item>
                                    <mat-list-item> <b>Twitter</b> </mat-list-item>
                                    <mat-list-item> <b>Linkedin</b> </mat-list-item>
                                    <mat-list-item> <b>Official web page</b> </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-5 my-2 ">
                <h2>Services</h2>
                <p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda numquam blanditiis maxime
                        harum ipsa dolore!</small></p>
                <p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda numquam blanditiis maxime
                        harum ipsa dolore!</small></p>
                <p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda numquam blanditiis maxime
                        harum ipsa dolore!</small></p>
                <p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda numquam blanditiis maxime
                        harum ipsa dolore!</small></p>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-12 d-flex justify-content-center">© Derechos Reservados</div>
            
        </div>
    </div>

</div>