$Icon-color:#11111144 ;
$Icon-color-Hover:#8080D9 ;
$text-color:#b4b4e6CC;
$bg-color-hover:#AAAAAA44;

.footer{
    min-width: 300px;
    background-color: $Icon-color-Hover;
}
.mrl{
    border-right: 1px solid $text-color;
}