<div class="bg-color footer">
    <div class="container">
        <div class="row ">
            <div class="col-4 my-2 mrl">
                <div class="row">
                    <div class="col-12">
                        <img class="header-img__logo mx-auto" src="../../assets/images/logoAnalitycLab.png">
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum explicabo facere minima quam.
                            Totam, voluptatem!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4-my-2 mrl">
                <div class="row">
                    <div class="col-12"></div>
                    <div class="col-12"></div>
                    <div class="col-12"></div>
                    <div class="col-12"></div>
                    <div class="col-12"></div>
                    <div class="col-12"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>