$Icon-color:#11111144 ;
$Icon-color-Hover:#8080D9 ;
$text-color:#5A5AC8;
$bg-color-hover:#AAAAAA44;

.mat-list-icon{
    color: $Icon-color;
    transform: scale(2);
  }
  .list-title {
    color: inherit;
  }


  .mat-list-option{
   
    transition: 0.2s ease all;
    border-radius: 8px;
    color: black;

    &:hover{
      border-radius: 10px;
      transition: 0.2s ease all;
      background-color: $bg-color-hover;
      color: $text-color;
    }
  }
  .mat-list-option:hover .mat-list-icon, .selected{
    transition: 0.2s ease all;
    color: $text-color;
  }

  .card-selected {
    border-radius: 10px;
    background-color: $bg-color-hover;
  }