$Icon-color:#11111144 ;
$Icon-color-Hover:#8080D9 ;
$text-color:#5A5AC8;
$bg-color-hover:#AAAAAA44;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
